@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blanco: #F4F4F8;
    --blanco-hover: #b6b6cc;
    --negro: #1C1C1C;
    --mostaza: #FED766;
    --azul: #009FB7;
}

/* -- Globales -- */

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* -- Cabecera -- */
header {
    background-color: var(--negro);
    min-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
}

header div.logo-cabecera {
    font-weight: 800;
    font-size: 40px;
    color: var(--blanco);
    display: flex;
    flex-direction: row;
}
header div.logo-cabecera span {
    color: var(--azul);
}

header div.logo-cabecera span.animacion-logo {
    position: relative;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: .65px var(--mostaza);
}
header div.logo-cabecera span.animacion-logo::before {
    content: attr(texto);
    position: absolute;
    color: var(--mostaza);
    width: 0px;
    overflow: hidden;
    transition: 1s;
    border-right: 3px solid var(--mostaza);
}
header div.logo-cabecera span.animacion-logo:hover::before {
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
header nav a {
    color: var(--blanco);
}
header nav a:hover  {
    color: var(--blanco-hover);
}
nav {
    background-color: var(--navColor);
}

.navbar li:hover {
    background-color: var(--navHover);
}

.dropdown-1 {
    position: absolute;
    display: none;
    background-color: var(--dropdown);
    padding: 0;
}

.menu-1:hover .dropdown-1 {
    display: flex;
    flex-direction: row;
}

.dropdown-1 li {
    border-bottom: 1px dotted white;
}

header .nav-lateral {
    display: flex;
    gap: 20px;
}